<h1>New Table</h1>

<%= form_for Table.new do |f| %>

  <p>
    <%= f.label :number %><br>
    <%= f.number_field :number %>
  </p>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>

<br/>
<%= link_to 'Back', tables_path %>