<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h2>
  Table N:<%= @table.number %> - <%= @table.title %>
</h2>

<h4>Add new reservation for the table:</h4>
<%= form_for([@table, @table.reservations.build]) do |f| %>
    <strong>Person:</strong><%= f.text_field :person %><br>
    <strong>Start time:</strong><%= f.datetime_select :starttime, :default => DateTime.now, :minute_step => 15 %><br>
    <strong>Start time:</strong><%= f.datetime_select :endtime, :default => (Time.now + 2), :minute_step => 15 %><br>
    <%= f.submit %>
<% end %>

<h3>Reservations</h3>
<table>
  <tr>
    <th>Person</th>
    <th>Start time</th>
    <th>End time</th>
  </tr>
  <% @table.reservations.each do |reservation| %>
    <tr>
      <td width="200"><%= reservation.person %></td>
      <td width="300"><%= reservation.starttime %></td> 
      <td width="300"><%= reservation.endtime %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Back to tables list', root_path %>
<%= link_to 'Edit', edit_table_path(@table) %>
<%= link_to 'Delete', table_path(@table),
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
